<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Information Page</title>
</head>
<body>
    <h1>Education Background Information</h1>
   
    <div class="per-info">
        <ul>
            <li>Tertiary: <div class="educ"><span class="categ">Bachelor of Science in Information Technology</span><br><span>Major in Web Development</span><br><span>Angeles City, Pampanga</span><br><span>S.Y. 2021 - Present</span></div></li>
            <li>Secondary   : <div class="educ"><span class="categ">Senior High School</span><br><span>Eastern Porac National High School</span><br><span>Porac, Pampanga</span><br><span>S.Y. 2019 to 2021</span><br><br><span class="categ">Junior High School</span><br><span>Eastern Porac National High School</span><br><span>Porac, Pampanga</span><br><span>S.Y. 2015-2019</span></div></li>
            <li>Primary: <div class="educ"><span class="categ">Padre Burgos Elementary School	</span><br><span>Altura St. Sta Mesa, Manila </span><br><span>2009-2015</span><br></div></li>
            
        </ul>
    </div>
    
</body>
</html>
