<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References Information Page</title>
</head>
<body>
    <h1>References Information</h1>
   
    <div class="row">
        <div class="column">
            <ul>
                <li>Rona Jane Gamboa Palua</li>
                <li>Junior High School Teacher</li>
                <li>at Eastern Porac National High School</li>
                <li>0915 218 0318</li>
              </ul>
        </div>
        <div class="column two">
          <ul>
            <li>Dolores S. Canlas</li>
            <li>Senior High School Teacher</li>
            <li>at Eastern Porac National High School</li>
            <li >0922 540 0440</li>
          </ul>
        </div>
      </div>
     
     
</body>
</html>
