<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Experience Information Page</title>
</head>
<body>
    <h1>Work Experience Information</h1>
   
    <div class="per-info">
        <ul>
            <li>Student: <div class="educ"><span class="categ">Supreme Student Government</span><br><span>President</span><br><span>Eastern Porac National High School</span><br><span>S.Y. 2020 - 2021</span></div></li>
            
            
        </ul>
    </div>
    
</body>
</html>
