<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information Page</title>
</head>
<body>
    <h1>Personal Information</h1>
    <img src="https://lh3.googleusercontent.com/a/ACg8ocKmCumL_art9GyekO-vxD9YklZ1CGCHY0vJRSzEq9Es11Z1ccOu=s288-c-no" style="height: 100px;" class="per-info-img">
    <div class="per-info">
        <ul>
            <li class="name">Name: MICHAEL ARNOLD RONQUILLO	</li>
            <li>Address: #129 Manibaug Libutad Porac, Pampanga</li>
            <li>Birth Date: August 29, 2003</li>
            <li>Birthplace : Pasay City</li>
            <li>Height: 173.74cm</li>
            <li>Weight: 45kg</li>
            <li>Email: ronquillomichaelarnold&#64;gmail.com</li>
            <li>Phone: 0997 693 9123</li>
        </ul>
    </div>
    
</body>
</html>
