<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Information Page</title>
</head>
<body>
    <h1>Training Information</h1>
   
    <div class="row">
        <div class="column">
          <img src="https://images.credly.com/size/340x340/images/5e719e46-faf2-40c9-ad49-3b11e6e6cb34/image.png"  style="width:200px">
        </div>
        <div class="column">
          <ul>
            <li class="cert-name">CompTIA IT Fundamentals (ITF+) Certification</li>
            <li>CompTIA</li>
            <li>May 2023</li>
            <li><a href="https://www.credly.com/badges/71b22054-e966-4137-bff6-c424ca3819a3/linked_in_profile" target="_blank">https://www.credly.com/badges/71b22054-e966-4137-bff6-c424ca3819a3/linked_in_profile</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="https://images.credly.com/size/340x340/images/5d5ac32b-d239-42b8-9665-8a921dc3ab47/image.png"  style="width:200px">
        </div>
        <div class="column">
          <ul>
            <li class="cert-name">Cyber Threat Management</li>
            <li>Cisco</li>
            <li>November 2024</li>
            <li><a href="https://www.credly.com/badges/3fd5f24d-d11f-4a66-90ac-ada1076bfc40/linked_in_profile" target="_blank">https://www.credly.com/badges/3fd5f24d-d11f-4a66-90ac-ada1076bfc40/linked_in_profile</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="https://images.credly.com/size/340x340/images/70d71df5-f3dc-4380-9b9d-f22513a70417/CCNAITN__1_.png"  style="width:200px">
        </div>
        <div class="column">
          <ul>
            <li class="cert-name">CCNA: Introduction to Networks</li>
            <li>Cisco</li>
            <li>June 2024</li>
            <li><a href="https://www.credly.com/badges/486eeef6-5cf2-41cd-88de-45f9bd78eb27/linked_in_profile" target="_blank">https://www.credly.com/badges/486eeef6-5cf2-41cd-88de-45f9bd78eb27/linked_in_profile</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGLKj3JHcof0w/company-logo_100_100/company-logo_100_100/0/1630639684997/free_code_camp_logo?e=1740614400&v=beta&t=kgkmXH769Z-42_MMm_NUEwtHnNLnC_ECNomvLIKowgk"  style="width:200px">
        </div>
        <div class="column">
          <ul>
            <li class="cert-name">Legacy JavaScript Algorithms and Data Structures</li>
            <li>freeCodeCamp</li>
            <li>March 2024</li>
            <li><a href="https://freecodecamp.org/certification/MichaelArnoldRonquillo/javascript-algorithms-and-data-structures" target="_blank">https://freecodecamp.org/certification/MichaelArnoldRonquillo/javascript-algorithms-and-data-structures</a></li>
          </ul>
        </div>
      </div>
    
      <div class="row">
        <div class="column">
          <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGLKj3JHcof0w/company-logo_100_100/company-logo_100_100/0/1630639684997/free_code_camp_logo?e=1740614400&v=beta&t=kgkmXH769Z-42_MMm_NUEwtHnNLnC_ECNomvLIKowgk"  style="width:200px">
        </div>
        <div class="column">
          <ul>
            <li class="cert-name">Responsive Web Design</li>
            <li>freeCodeCamp</li>
            <li>January 2024</li>
            <li><a href="https://freecodecamp.org/certification/MichaelArnoldRonquillo/javascript-algorithms-and-data-structures" target="_blank">https://freecodecamp.org/certification/MichaelArnoldRonquillo/javascript-algorithms-and-data-structures</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGLKj3JHcof0w/company-logo_100_100/company-logo_100_100/0/1630639684997/free_code_camp_logo?e=1740614400&v=beta&t=kgkmXH769Z-42_MMm_NUEwtHnNLnC_ECNomvLIKowgk"  style="width:200px">
        </div>
        <div class="column">
          <ul>
            <li class="cert-name">Work with Components in Figma</li>
            <li>Coursera Project Network</li>
            <li>October 2023</li>
            <li><a href="https://www.coursera.org/account/accomplishments/records/3QZB49LEZJJ5" target="_blank">https://freecodecamp.org/certification/MichaelArnoldRonquillo/javascript-algorithms-and-data-structures</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="https://media.licdn.com/dms/image/v2/D4E2DAQGpIkKQYsfHZg/profile-treasury-document-cover-images_480/profile-treasury-document-cover-images_480/0/1706346491836?e=1733410800&v=beta&t=GLVpv74NTXiUguSaNk7MVYUnQx4kv9g58iMTg75vpCs"  style="width:200px">
        </div>
        <div class="column">
          <ul>
            <li class="cert-name">Free Coding Bootcamp: Basic Web Development Workshop</li>
            <li>Zuitt - Coding Bootcamp</li>
            <li>September 2023</li>
            <li><a href="https://www.coursera.org/account/accomplishments/records/3QZB49LEZJJ5" target="_blank">https://media.licdn.com/dms/image/v2/D4E2DAQGpIkKQYsfHZg/profile-treasury-document-cover-images_480/profile-treasury-document-cover-images_480/0/1706346491836?e=1733410800&v=beta&t=GLVpv74NTXiUguSaNk7MVYUnQx4kv9g58iMTg75vpCs</a></li>
          </ul>
        </div>
      </div>
      
</body>
</html>
