/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://marketplace.canva.com/EAGFfNA0FhU/1/0/1131w/canva-blue-geometric-background-poster-zAUnN1NLViw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     
}